{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ room.name }}  | {% endblock %}

{% block page_title %}
    {% if username == "Anah" %}
        <h1 class="text-3xl lg:text-6xl text-white">Chat-Room</h1>
    {% endif %}
{% endblock %}

{% block content %}
{% if username == "Anah" %}
    <div class="p-10 lg:p-20 text-center">
        <h1 class="text-3xl lg:text-6xl text-white">{{ room.name }} - {{ username }}</h1>
    </div>
{% endif %}

<style>
    body {
        background-image: url("{% static 'room/Vault_By_AnaH_logo.jpg' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .chat-container {
        background: rgba(255, 255, 255, 0.8); /* Adding some transparency to the chat container */
        border-radius: 15px;
        padding: 20px;
    }

    .input-container {
        display: flex;
        align-items: center;
        padding: 10px;
        border-top: 1px solid #ddd;
        background-color: #f8f8f8;
    }

    .input-container textarea {
        flex: 1;
        border: none;
        border-radius: 20px;
        padding: 10px;
        margin-right: 10px;
        resize: none;
        height: 40px;
        overflow: hidden;
        background-color: #e6e6e6;
    }

    .input-container textarea:focus {
        outline: none;
    }

    .attach-button {
        background-color: #979797; 
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s;
        margin-right: 5px;
    }

    .attach-button:hover {
        background-color: #50A0A0; 
    }

    .attach-button i {
        color: white;
        font-size: 20px;
    }

    .send-button {
        background-color: #939795;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s;
    }

    .send-button:hover {
        background-color: #50A0A0; 
    }

    .send-button i {
        color: white;
        font-size: 20px;
    }

    .hidden {
        display: none;
    }
</style>

<div class="flex flex-col h-screen max-w-sm">
    <div class="flex-grow overflow-y-auto" id="chat-messages">
        {% for m in messages %}
            {% if m.kind == 2 %}
                <div class="flex {% cycle 'justify-start' 'justify-end' %} mt-2 {% cycle 'ml-2' 'mr-2' %}">
                    <div class="{% cycle 'bg-gray-200' 'bg-blue-400' %} rounded-lg px-4 py-2 max-w-[80%]">
                        <p class="text-gray-900 text-sm text-wrap"><a download href="javascript:downloadFile('/media/{{ m.room }}/{{ m.content }}', '{{ m.content }}')">{{ m.content }}</a></p>
                    </div>
                </div>
            {% else %}
                <div class="flex {% cycle 'justify-start' 'justify-end' %} mt-2 {% cycle 'ml-2' 'mr-2' %}">
                    <div class="{% cycle 'bg-gray-200' 'bg-blue-400' %} rounded-lg px-4 py-2 max-w-[80%]">
                        <p class="text-gray-900 text-sm text-wrap break-words">{{ m.content }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="input-container">
        <form method="post" action="." class="flex items-center w-full">
            {% csrf_token %}
            <input id="file-input" type="file" class="hidden">
            <button type="button" class="attach-button" onclick="document.getElementById('file-input').click()">
                <i class="fa fa-paperclip"></i>
            </button>
            <textarea id="chat-message-input" placeholder="Type a message..."></textarea>
            <button id="chat-message-submit" class="send-button"><i class="fa fa-paper-plane"></i></button>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}
{{ nikname|json_script:"json-nikname" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const nikName = JSON.parse(document.getElementById('json-nikname').textContent);
    
    const chatSocket = new WebSocket(
        'wss://'
        + window.location.host
        + '/chat/ws/'
        + roomName
        + '/'
    );
    const refreshSocket = new WebSocket(
        'wss://'
        + window.location.host
        + '/chat/ws/'
        + 'Anah'
        + '/'
    );
    refreshSocket.onopen = function(e) {
        refreshSocket.send(JSON.stringify({
            'message': nikName,
            'username': 'Anah',
            'room': roomName
        }));
    }

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }
    
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        let messageColor = '';
        if (data.username == userName) {
            messageColor = '<div class="flex justify-start mt-2 ml-2">' +
                            '<div class="bg-gray-200 rounded-lg px-4 py-2 max-w-[80%]">'
        } else {
            messageColor = '<div class="flex justify-end mt-2 mr-2">' +
                            '<div class="bg-blue-400 rounded-lg px-4 py-2 max-w-[80%]">'
        }
        if (data.message) {
            let message = data.message.trim();
            if (message) {
                document.querySelector('#chat-messages').innerHTML +=
                    (messageColor +
                        `<p class="text-gray-900 text-sm text-wrap break-words"><span>${message}</span></p>` +
                        '</div>' +
                    '</div>');
            }
        }
        if (data.file_name) {
            document.querySelector('#chat-messages').innerHTML += 
                (messageColor +
                        '<p class="text-gray-900 text-sm text-wrap">' + `<a download href="javascript:downloadFile('/chat/media/${roomName}/${data.file_name}', '${data.file_name}')"><span>${data.file_name}</span></a></p>` + //`<a download href="/media/${roomName}/${data.file_name}" target="_blank">${data.file_name}</a></p>` +
                    '</div>' +
                '</div>');
            document.querySelector('#file-input').value = "";
        }

        //else {
        //    alert('The message was empty!')
       // }

        scrollToBottom();
    };

    document.querySelector('#chat-message-input').focus();
    // document.querySelector('#chat-message-input').onkeyup = function(e) {
    //     if (e.keyCode === 13) {
    //         document.querySelector('#chat-message-submit').click();
    //     }
    // };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault()

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        if (message) {
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': userName,
                'room': roomName
            }));
        }
        messageInputDom.value = '';
        messageInputDom.style.height = 'auto'; // Reset the height after sending

        return false
    };

    document.querySelector('#file-input').onchange = function(e) {
        const file = e.target.files[0];
        const reader = new FileReader();

        reader.onload = function(event) {
            const file_data = event.target.result.split(',')[1]; // get base64 part
            chatSocket.send(JSON.stringify({
                'file': file_data,
                'username': userName,
                'file_name': file.name,
                'room': roomName
            }));
        };
        reader.readAsDataURL(file);
    };

    /**
    * A function for finding the messages element, and scroll to the bottom of it.
    */
    function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    // Add this below the function to trigger the scroll on load.
    scrollToBottom();
    
    function downloadFile(link, filename) {
        axios({
            url: link, //your url
            method: 'GET',
            responseType: 'blob', // important
        })
        .then((response) => {
            // create file link in browser's memory
            const href = URL.createObjectURL(response.data);

            // create "a" HTML element with href to file & click
            const link = document.createElement('a');
            link.href = href;
            link.setAttribute('download', filename); //or any other extension
            document.body.appendChild(link);
            link.click();

            // clean up "a" element & remove ObjectURL
            document.body.removeChild(link);
            URL.revokeObjectURL(href);
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        const textarea = document.querySelector('#chat-message-input');
        const maxHeight = 50; // Maximum height in pixels

        textarea.addEventListener('input', function() {
            textarea.style.height = 'auto'; // Reset the height to auto
            textarea.style.height = Math.min(textarea.scrollHeight, maxHeight) + 'px'; // Set the height
            if (textarea.scrollHeight > maxHeight) {
                textarea.style.overflowY = 'scroll'; // Enable vertical scroll if max height is exceeded
            } else {
                textarea.style.overflowY = 'hidden'; // Disable vertical scroll if within max height
            }
        });

        textarea.style.height = 'auto';
        textarea.style.height = (textarea.scrollHeight) + 'px';
    });
</script>
{% endblock %}
