{% extends 'core/base.html' %}

{% block title %}{{ room.name }}  | {% endblock %}

{% block page_title %}
    {% if username == "Anah" %}
        <h1 class="text-3xl lg:text-6xl text-white">Chat-Room</h1>
    {% endif %}
{% endblock %}

{% block content %}
{% if username == "Anah" %}
    <div class="p-10 lg:p-20 text-center">
        <h1 class="text-3xl lg:text-6xl text-white">{{ room.name }} - {{ username }} </h1>
    </div>
{% endif %}
<style>
    body {
        background-image: url('D:\djangochat\static\Vault.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .chat-container {
        background: rgba(255, 255, 255, 0.8); /* Adding some transparency to the chat container */
        border-radius: 15px;
        padding: 20px;
    }
</style>

    <div class="flex flex-col h-screen max-w-sm">
        <div class="flex-grow overflow-y-auto" id="chat-messages">
            {% for m in messages %} 
                {% if m.kind == 2 %} 
                    <div class="flex {% cycle 'justify-start' 'justify-end' %} mt-2 {% cycle 'ml-2' 'mr-2' %} ">
                        <div class="{% cycle 'bg-gray-100' 'bg-blue-300' %} rounded-lg px-4 py-2 max-w-[80%]">
                            <p class="text-gray-900 text-sm"><a dowload href="javascript:downloadFile('/media/{{ m.room }}/{{ m.content }}', '{{ m.content }}')"> {{ m.content }} </a></p>
                        </div>
                    </div>
                {% else %}
                    <div class="flex {% cycle 'justify-start' 'justify-end' %} mt-2 {% cycle 'ml-2' 'mr-2' %}">
                        <div class="{% cycle 'bg-gray-100' 'bg-blue-300' %} rounded-lg px-4 py-2 max-w-[80%]">
                            <p class="text-gray-900 text-sm"> {{ m.content }} </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="flex justify-center items-center h-16">
            <form method="post" action="."  class="flex items-center">
                {% csrf_token %} 
                <div class="input-icons">
                    <label for="file-input">
                        <i class="fa fa-paperclip icon"></i>
                    </label>
                    <input type="text" id="chat-message-input" class="border border-gray-300 rounded-lg py-2 px-4 w-full max-w-lg mr-4" placeholder="Type a message...">
                </div>
                <button id="chat-message-submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 ml-1 rounded">Send</button>
            </form>
            <input class='hidden' id="file-input" type="file">
        </div>
    </div>
<!--div class="flex flex-col h-screen max-w-sm">
    <div class="flex-grow overflow-y-auto">
        <!- Chat messages -->
        <!--div class="flex flex-col mb-4 gap-4 py-4">
            <div class="flex justify-start">
                <div class="bg-gray-100 rounded-lg px-4 py-2 max-w-[80%]">
                    <p class="text-gray-900 text-sm">Hey, how are you?</p>
                </div>
            </div>
            <div class="flex justify-end">
                <div class="bg-blue-500 rounded-lg px-4 py-2 max-w-[80%]">
                    <p class="text-white text-sm">I'm good, thanks! How about you?</p>
                </div>
            </div>
            <div class="flex justify-start">
                <div class="bg-gray-100 rounded-lg px-4 py-2 max-w-[80%]">
                    <p class="text-gray-900 text-sm">I'm doing great, thanks for asking!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center h-16">
        <!- Chat input ->
        <input type="text" class="border border-gray-300 rounded-lg py-2 px-4 w-full max-w-lg mr-4" placeholder="Type a message...">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Send</button>
    </div>
</div-->


{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );
    const refreshSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + 'Anah'
        + '/'
    );
    refreshSocket.onopen = function(e) {
        refreshSocket.send(JSON.stringify({
            'message': 'Hi',
            'username': 'Anah',
            'room': roomName
        }));
    }

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        let messageColor = '';
        console.log(data);
        console.log(userName);
        if (data.username == userName) {
            messageColor = '<div class="flex justify-start mt-2 ml-2">' +
                            '<div class="bg-gray-100 rounded-lg px-4 py-2 max-w-[80%]">'
        } else {
            messageColor = '<div class="flex justify-end mt-2 mr-2">' +
                            '<div class="bg-blue-300 rounded-lg px-4 py-2 max-w-[80%]">'
        }
        if (data.message) {
            document.querySelector('#chat-messages').innerHTML +=
                (messageColor +
                        `<p class="text-gray-900 text-sm">${data.message}</p>` +
                    '</div>' +
                '</div>');
        }
        if (data.file_name) {
            document.querySelector('#chat-messages').innerHTML += 
                (messageColor +
                        '<p class="text-gray-900 text-sm">' + `<a download href="javascript:downloadFile('/media/${roomName}/${data.file_name}', '${data.file_name}')">${data.file_name}</a></p>` + //`<a download href="/media/${roomName}/${data.file_name}" target="_blank">${data.file_name}</a></p>` +
                    '</div>' +
                '</div>');
            document.querySelector('#file-input').value = "";
        }
        
        //else {
        //    alert('The message was empty!')
       // }

        scrollToBottom();
    };

    document.querySelector('#chat-message-input').focus();
    // document.querySelector('#chat-message-input').onkeyup = function(e) {
    //     if (e.keyCode === 13) {
    //         document.querySelector('#chat-message-submit').click();
    //     }
    // };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault()

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName
        }));

        messageInputDom.value = '';

        return false
    };

    document.querySelector('#file-input').onchange = function(e) {
            const file = e.target.files[0];
            const reader = new FileReader();

            reader.onload = function(event) {
                const file_data = event.target.result.split(',')[1]; // get base64 part
                chatSocket.send(JSON.stringify({
                    'file': file_data,
                    'username': userName,
                    'file_name': file.name,
                    'room': roomName
                }));
            };
            reader.readAsDataURL(file);
        };
        

    /**
    * A function for finding the messages element, and scroll to the bottom of it.
    */
    function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    // Add this below the function to trigger the scroll on load.
    scrollToBottom();
    
    function downloadFile(link, filename){
        axios({
                url: link, //your url
                method: 'GET',
                responseType: 'blob', // important
            })
            .then((response) => {
                // create file link in browser's memory
                const href = URL.createObjectURL(response.data);

                // create "a" HTML element with href to file & click
                const link = document.createElement('a');
                link.href = href;
                link.setAttribute('download', filename); //or any other extension
                document.body.appendChild(link);
                link.click();

                // clean up "a" element & remove ObjectURL
                document.body.removeChild(link);
                URL.revokeObjectURL(href);
            });
        }

</script>
{% endblock %}